---
metadata:
  namespace: "{{ K8S_NS }}"
  releaseVersion: "1.0.0"
  target: "{{ K8S_CLUSTER }}"
replicaCount: 1
nodeLabel: "eps"
image:
  repository: "{{CI_REGISTRY_IMAGE}}/{{CI_COMMIT_REF_SLUG}}:{{CI_COMMIT_SHA}}.{{CI_PIPELINE_IID}}"
  pullPolicy: "Always"
  imagePullSecrets: regcred
service:
  type: ClusterIP
container:
  multiPorts:
  - name: "admin"
    containerPort: 8080
    protocol: "TCP"
  volumeMounts:
  - name: appdroot
    mountPath: "/workdir"
resources:
  requests:
    cpu: 1.0
    memory: "2.0Gi"
  limits:
    cpu: 2.0
    memory: "2.0Gi"
livenessProbe:
readinessProbe:
variables:
{{ K8_DEV_ENV }}
{{ APPD_COMMON_CONFIG_NPE }}
- name: "PROFILE"
  value: "default"
- name: "TLS_ENV"
  value: "dev"
- name: "SPRING_PROFILES_ACTIVE"
  value: "k8"
- name: THE_HOST
  value: "{{CI_PROJECT_NAME}}.dev.eps.t-mobile.com"
- name: REGISTER_WITH_EUREKA
  value: "true"
- name: "APPDYNAMICS_NODENAME_PREFIX"
  value: "CDK-{{API_ENV_DEV}}-{{CI_PROJECT_NAME}}"
- name: "APPDYNAMICS_AGENT_TIER_NAME"
  value: "CDK-{{API_ENV_DEV}}-{{CI_PROJECT_NAME}}"
- name: "APPDYNAMICS_AGENT_APPLICATION_NAME"
  value: "Payment-CDK-{{APPD_APP_DEV_SUFFIX}}"
- name: "JAVA_OPTS"
  value: "-Xverify:none
          -javaagent:/workdir/AppServerAgent/javaagent.jar
          -Dappdynamics.agent.reuse.nodeName=true
          -Dappdynamics.agent.reuse.nodeName.prefix=CDK-{{API_ENV_DEV}}-{{CI_PROJECT_NAME}}
          -Dappdynamics.socket.collection.bci.enable=true
          -Dappdynamics.analytics.agent.url={{APPDYNAMICS_ANALYTICS_ENDPOINT_NPE}}"
initContainers:
- name: appdynamics
  imagePullPolicy: Always
  image:
    repository: "registry.gitlab.com/tmobile/eps/infra/dockerbaseimage/appdagent-java:2"
  command:
      arg1: "cp"
      arg2: "-r"
      arg3: "/appdAgentFiles/AppServerAgent"
      arg4: "/workdir/AppServerAgent"
  volumeMounts:
  - name: appdroot
    mountPath: "/workdir"
ingress:
  enabled: true
  ingressType: "HTTPS"
  applicationType: "internal"
  class: "nginx-internal"
  serviceEndpoint: "{{CI_PROJECT_NAME}}.dev.eps.t-mobile.com"
  servicePort: 8080
  multiPaths:
  - path: "/"
    portName: "admin"
tls:
  enabled: true
  secretName: devwildcert
secrets:
autoscale:
  enabled: true
  minReplicas: 1
  maxReplicas: 1
  cpuAverageUtilization: 70
  memoryAverageUtilization: 70
volumes:
- name: appdroot
