---
metadata:
  namespace: "{{ K8S_NS }}"
  releaseVersion: "1.0.0"
  target: "{{ K8S_CLUSTER }}"
replicaCount: 1
nodeLabel: 
image:   
  repository: "{{CI_REGISTRY_IMAGE}}/{{CI_COMMIT_REF_SLUG}}:{{CI_COMMIT_SHA}}.{{CI_PIPELINE_IID}}"
  pullPolicy: "Always"
  imagePullSecrets: regcred
  dnsPolicy: ClusterFirst
service:
  type: ClusterIP
container:
  multiPorts:
  - name: "admin"
    containerPort: 8080
    protocol: "TCP"
  volumeMounts:
  - name: appdroot
    mountPath: "/workdir"
resources:
  requests:
    cpu: 100m
    memory: 1Gi
  limits:
    cpu: 250m
    memory: 1.5Gi
livenessProbe:
readinessProbe:
variables:
{{ TKE_DEV_ENV }}
{{ APPD_COMMON_CONFIG_NPE }}
- name: "PROFILE"
  value: "default"
- name: "TLS_ENV"
  value: "dev"
- name: "SPRING_PROFILES_ACTIVE"
  value: "tke"
- name: THE_HOST
  value: "dev-{{CI_PROJECT_NAME}}.px-npe1101.pks.t-mobile.com"
- name: REGISTER_WITH_EUREKA
  value: "true"
- name: "APPDYNAMICS_NODENAME_PREFIX"
  value: "TKE-{{API_ENV_DEV}}-{{CI_PROJECT_NAME}}"
- name: "APPDYNAMICS_AGENT_TIER_NAME"
  value: "TKE-{{API_ENV_DEV}}-{{CI_PROJECT_NAME}}"
- name: "APPDYNAMICS_AGENT_APPLICATION_NAME"
  value: "Payment-TKE-{{APPD_APP_DEV_SUFFIX}}"	

- name: "JAVA_OPTS"
  value: "-Xverify:none 
          -javaagent:/workdir/AppServerAgent/javaagent.jar
          -Dappdynamics.agent.reuse.nodeName=true
          -Dappdynamics.agent.reuse.nodeName.prefix=TKE-{{API_ENV_DEV}}-{{CI_PROJECT_NAME}}
          -Dappdynamics.socket.collection.bci.enable=true
          -Dappdynamics.analytics.agent.url={{APPDYNAMICS_ANALYTICS_ENDPOINT_NPE}}"
initContainers:
- name: appdynamics
  imagePullPolicy: Always
  image:
    repository: "registry.gitlab.com/tmobile/eps/infra/dockerbaseimage/appdagent-java:2"
  command:
      arg1: "cp" 
      arg2: "-r"
      arg3: "/appdAgentFiles/AppServerAgent"
      arg4: "/workdir/AppServerAgent"
  volumeMounts:
  - name: appdroot
    mountPath: "/workdir"
ingress:
  enabled: true
  ingressType: "HTTPS"
  applicationType: 
  class: "nginx-internal"
  serviceEndpoint: "dev-{{CI_PROJECT_NAME}}.px-npe1101.pks.t-mobile.com"
  servicePort: 8080
  multiPaths:
  - path: "/"
    portName: "admin"
tls:
  enabled: true
  secretName:
secrets:
autoscale:
  enabled: true
  minReplicas: 1
  maxReplicas: 1
  cpuAverageUtilization: 70
  memoryAverageUtilization: 70
volumes:
- name: appdroot

